

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
    
}

#game-board{
    --grid-size: 4;
    --cell-size: 20vmin;
    --cell-gap: 2vmin;
    display: grid;
    grid-template-rows: repeat(var(--grid-size),var(--cell-size));
    grid-template-columns: repeat(var(--grid-size),var(--cell-size));
    background-color: #ccc;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: 2vmin;
    position: relative;
}

.cell{
    background-color: #AAA;
    border-radius: 1vmin;
}

.tile{
    --x: 0;
    --y: 0;
    --background-lightness: 80%;
    --text-lightness: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 1vmin;
    background-color: red;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show{
    0% {
        opacity: .5;
        transform: scale(0);
    }
}